<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>clientify</name>
	<displayName><![CDATA[Clientify Prestashop]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[clientify prestashop ]]></description>
	<author><![CDATA[clientify]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
